:root { 
--bluegray_50:#eaecf0; 
--blue_A202:#4285f4; 
--blue_A400:#1877f2; 
--blue_A200:#4d90ff; 
--red_400:#f14a60; 
--blue_A201:#588af1; 
--gray_300_99:#e4e4e499; 
--gray_900_4c:#0d16244c; 
--black_900_4c:#0000004c; 
--gray_400:#b3b3b3; 
--blue_900:#003995; 
--gray_800_19:#46464619; 
--amber_500:#fbbc05; 
--red_A200:#fe555d; 
--blue_500:#1d9bf0; 
--amber_501:#feb909; 
--blue_50:#e0ebff; 
--blue_51:#e0ecff; 
--bluegray_600:#5f6c86; 
--bluegray_402:#75839d; 
--black_900_99:#00000099; 
--bluegray_401:#808191; 
--bluegray_400:#74839d; 
--bluegray_200:#bac1ce; 
--gray_800_0c:#4646460c; 
--white_A700:#ffffff; 
--gray_52:#f5f9ff; 
--blue_A702:#0065ff; 
--gray_51:#f9fbff; 
--blue_A701:#0a58ff; 
--gray_54:#f6f7fb; 
--gray_53:#f4f8ff; 
--red_700:#d03329; 
--gray_55:#fafcff; 
--blue_A700:#0061ff; 
--gray_900_cc:#0d1624cc; 
--blue_A100:#80b0ff; 
--red_500:#ea4335; 
--green_601:#34a853; 
--green_600:#349765; 
--gray_50:#f8f9fa; 
--black_900_66:#00000066; 
--black_900:#000000; 
--black_902:#000a19; 
--black_901:#090b0d; 
--yellow_900:#f7931a; 
--blue_A700_7e:#0061ff7e; 
--gray_903:#0d1624; 
--gray_700_11:#55555511; 
--gray_500:#989fa5; 
--gray_901:#11142d; 
--blue_800:#0051d5; 
--gray_902:#09101d; 
--orange_A700:#ff6700; 
--indigo_50:#e9eef8; 
--gray_900:#151522; 
--bluegray_100:#d6dae2; 
--gray_300:#e0e0e0; 
--bluegray_900:#262b35; 
--bluegray_701:#535353; 
--bluegray_700:#424c5d; 
--gray_700_26:#55555526; 
--bluegray_300:#9ea8ba; 
--blue_200:#a6c8ff; 
--gray_800_2b:#4545452b; 
--bluegray_901:#24363c; 
}